.departmentPageWrapper {
  display: flex;
}
.listContainerWrapper {
  margin: 32px 64px;
  /* border: 1px solid silver; */
  /* border-radius: 8px; */
}
.listContainerWrapperTitles {
  height: 36px;
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.listContainerWrapperTitle {
  align-items: center;
  height: 100%;
  display: flex;
  /* background-color: aliceblue; */
  margin-right: 4px;
  padding: 0 8px;
  cursor: pointer;
  padding: 4px 8px;
}
.listTitle {
  margin: 0;
  margin-left: 8px;
}
.activeTab {
  background-color: aliceblue;
  border-radius: 5px;
}
